* {
    font-family: "Poppins", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("ntunhs.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header {
    background: rgb(46, 46, 46);
    width: 100%;
    height: 120px;
}

header h1 {
    position: relative;
    left: 6vw;
    top: 1.5vw;
    color: white;
    font-size: 50px;
}

header .btn_1 {
    position: absolute;
    right: 13vw;
    top: 2vw;
    font-weight: 500;
    font-size: 16px;
    background: rgb(120, 119, 119);
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}
header .btn_2 {
    position: absolute;
    right: 5vw;
    top: 2vw;
    font-weight: 500;
    font-size: 16px;
    background: rgb(120, 119, 119);
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

header button:hover {
    background: #fff;
    transition: 0.8s;
    color: rgb(46, 46, 46);
    border: none;
    outline: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 420px;
    background-color: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 30px;
    padding: 30px 40px 50px;
}

.start button {
    width: 320px;
    height: 45px;
    background: rgb(46, 46, 46);
    border: 2px solid rgb(46, 46, 46);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}

.start button:hover {
    background: #fff;
    transition: 0.8s;
    color: rgb(46, 46, 46);
    border: none;
    outline: none;
}

.start button:hover a {
    color: rgb(46, 46, 46); /* 當滑鼠懸停在 button 時，改變 a 的顏色 */
}

.start a {
    color: #fff;
    text-decoration: none;
}
