* {
    font-family: "Poppins", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #86c7ea; 
    overflow: hidden;
}

header {
    width: 100%;
    height: 140px;
}

header h1 {
    position: relative;
    left: 6vw;
    top: 3vw;
    color: black;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 70%;
    height: 550px;
    margin-top: 30px;
    border-radius: 20px;
    font-weight: 600;
}

.two {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 900px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin: 50px 0;
}

.wa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-left: 100px;
}
.wb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-left: 85px;
}
.wc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-left: 85px;
}
.wd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-left: 125px;
}
.we {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-left: 90px;
}

.three {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: rgb(46, 46, 46);
    width: 900px;
    height: 340px;
    overflow-y: auto; 
    box-sizing: border-box;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    width: 800px;
    height: 40px;
    margin: 10px;
}

.za {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    margin: 0 30px;
}
.zb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 0 30px;

}
.zc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    margin: 0 30px;
}
.zd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin: 0 30px;
}
.ze {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 0 20px;
}
.zf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background: rgb(134, 134, 134);
    border: 2px solid rgb(134, 134, 134);
    outline: none;
    border-radius: 30px;
    margin: 0 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.zf:hover {
    background: #fff;
    transition: 0.8s;
    color: rgb(46, 46, 46);
    border: none;
    outline: none;
}